package views;

import javax.swing.*;
import java.awt.*;

public class {{ClassName}}View extends JFrame {
    public {{ClassName}}View() {
        setTitle("Frama - Welcome");
        JPanel mainPanel = new JPanel();

        // ...Code here

        add(mainPanel);
        setVisible(true);
    }
}
